@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color: #1D2F30;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.container{
    padding-left: 21%;
    padding-right: 21%;
}
.part1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.spisok a{
    margin-right: 64px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.part2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 60px;
}
.part1 img{
    margin-right: 125px;
}

.part2 img{
    background-color: #1D2F30;
}
.part2 button{
    border: none;
    height: 24px;
    margin-right: 64px;
    width: 24px;
}
.container-banner{
    background-image: url(photo_2025-03-02_13-36-46.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text-banner a{
    color: #BAE249;
    margin-top: 24px;
    font-family: 'Open Sans';
    font-weight: 700;

    display: flex;

}
.text-banner{
    color: white;
    padding-bottom: 115px;
    padding-top: 115px;
}

.text-banner h1{
    width: 688px;
    line-height: 60px;
    font-size: 60px;
    font-family: 'Cormorant';
    font-weight: 700;
}
.text-banner p{
    width: 635px;
    line-height: 150%;
    font-size: 16px;
    margin-top: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    margin-bottom: 24px;
}
/* слайдер */
.slider-container {
    width: 100%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
}
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}
.slider-wrapper p{
    margin-top: 8px;
}
.slide {
    min-width: 25%;
    box-sizing: border-box;
    padding: 20px;
}
.card {
    background-color: #1D2F30;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
    max-width: 100%;

}
.card h2 {
    color: #f3f4f6;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Cormorant';
    font-weight: 700;

}

.card p {
    color: #9ca3af;
    height: 168px;
    font-size: 16px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
}
.button {
    background-color:#1D2F30;
    color: #BAE249;
    padding: 10px 20px;
    border: 1px #BAE249 solid;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 24px;
    margin-right: 94px;
    font-size: 16px;
    margin-top: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
}
.nav-buttons {
    
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav-buttons button {
    background-color: #1D2F30;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
/* слайдер конец */
.container-background{
   background-color: #1D2F30; 
}
.nav-buttons p{
    margin-top: 10px;
    color: #FFFFFF;
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
}
.container-img{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}
.container h2{
    color: #FFFFFF;
    width: 355px;
}
.container-img img{
    width: clamp(591px, 52vw, 836px);
    height: 100%;
    margin-right: 30px;
}
.pi p{
    margin-top: 16px;
    color: #506829;
}
.green-cont img{
    padding-left: 16px;
    width: 43px;
    height: 22px;
}
.green-cont{
    background-color: #BAE249;
    width: 255px;
}
.green-cont h3{
    color: #1D2F30;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 39px;
    margin-bottom: 8px;
    font-family: 'Cormorant';
    font-size: 24px;
    font-weight: 700;
}
.green-cont .pi{
    padding-top: 60px;
    padding-left: 16px ;
    padding-right: 16px;
    width: 232px;
    height: 312px;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
}

.green-cont a{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
}

.container-bottom{
    background-image: url(denis.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset{
    border: none;
    margin-bottom: 10px;
}
.container-bottom h3{
    padding-top: 60px;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 48px;
    font-family: 'Cormorant';
    font-style: italic;
}
.container-bottom p{
    color: #FFFFFF;
    margin-bottom: 24px;
    font-size: 16px;
    font-family: 'Open Sans';
    line-height: 150%;
    font-weight: 400;
}
.kaka h2{
    margin-top: 57px;
    font-size: 48px;
    font-family: 'Cormorant';
    font-style: italic;
}
.form1{
    display: block;
    margin-bottom: 10px;
    height: 30px;
    width: 262px;
    padding-left: 10px;
}
.form-button{
    height: 40px;
    width: 145px;   
    background-color: #BAE249;
    border: none;
    margin-bottom: 60px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 700;
}
.footer-background{
    background-color:#0B1919;

}
.pic{
    background-color: #0B1919;
    margin-right: 30px;
    border: none;
    display: block;
}
.footer-icons{
    display: flex;
    justify-content: center;
    border: none;
}
a:hover{
    color: #bae250;
}

a:disabled{
    color: #688B05;
}

.part2 img:hover{
    color: #91AC46;

}
.part2 img:active{
    color: #91AC46
}
.green-cont a{
    display: flex;
    width: 182px;
    height: 22px;
    margin-left: 16px;
    color: #0B1919;
}
.button:hover{
    color: #0B1919;
    background-color: #BAE249;
}
.green-cont a:hover{
    color: #688B05;
}
.green-cont a:active{
    border: 1px solid #688B05;
}
@media (max-width:1920px){
    .container{
        padding-left: 21%;
        padding-right: 21%;
    }
}
@media (max-width:1440px){
    .container{
        padding-left: 165px;
        padding-right: 165px;
    }
}
@media (max-width:430px){
    .container{
        padding-left: 33px;
        padding-right: 32px;
    }
    .part1 img{
        margin: 0%;
    }
    .part1{
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
    .spisok {
        display: flex;
    }
    .spisok a{
        margin-right: 30px;
    }
    .menu{
        display: flex;
        align-items: center;
    }
    .container-img{
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        padding-bottom: 32px;
    }
    .container-img img{
        height: 100%;
        margin-bottom: 30px;
        margin-right: 0px;
    }
    .green-cont{
        width: 96%;
        display: flex;
        flex-direction: column;
    }
    .green-cont p{
        font-size: medium;
    }
    .green-cont .pi{
        padding-top: 0px;
        width: 214px;
    }
    .pi p{
        text-align: left;
        font-size: 17px;
    }
    .container-img .fotka{
        width: 96%;
    }
    .text-banner h1{
        width: auto;
        margin-bottom: 30px;

    }
    .text-banner p{
        display: none;
    }
    .text-banner{
        padding-bottom: 30px;
        padding-top: 69px;
    }
    .part1 .spisok{
        position: absolute;
        top: 75px;
        left: 32px;
    }
    .part2 img{
        margin-right: 32px;
    }
    .part2{
        width: 30%;
    }
    .container-bottom{
        display: none;
    }
    .footer-background{
        display: none;
    }
}